
<div class="comment">
	<table style="width: 100%;">
	<tr style="width: 50%;">	
		<td>
<%= image_tag comment.user.avatar.url(:thumb), width: 50, height: 50 %>

<%= comment.user.nickname%>
</td>
<td style="width: 50%; text-align: right;">
Create at: <%= comment.created_at %>
</td>
</tr>
	</table>
<p style="padding-top: 10px; padding-left: 55px; padding-right: 55px;"><%=comment.text%></p>
</div>
