<h1 style="text-align: center;"><%= @article.title %></h1>
<div class="container" style="text-align: justify;">
	<%= @article.body %>

	<%=render @comments%>
</div>
<br/>
<hr>
<%= render "comments/form", object:@article%>
