<% @enter =  Enter.where(user_id: current_user.id, group_id: group.id).first %>
<div class="container">
	<table style="width: 100%;">
		<tr style="width: 100%">
			<td style="width: 25%; text-align: center;"><h5 style="text-align: center; text-decoration: none; color: #000;"><%=link_to group.name, group_path(group.id) %></h5></td>
			<td style="width: 50%; text-align: center;">Created group in <%= group.created_at.to_date.strftime('%d %B, %Y') %></td>
				<% if current_user.id == group.user_id %>
					<td style="width: 25%; text-align: center;">You autor</td>
				 <% elsif @enter == nil%>
					<td style="width: 25%; text-align: center;"><%= link_to enters_path(group.id, 0) do %>Enter Group <%end%></td>
				<%else%>
					<td style="width: 25%; text-align: center;">
					<%= link_to enters_path(group.id, @enter), method: :delete do %>Exit with Group <%end%>
				</td>
				<%end%>
			
		</tr>
	</table>
</div>