<%= link_to group_path(@group), class:"btn btn-info", style:"margin-top: 20px;" do %>Redirect in <%=@group.name%><%end%>
<div class="box">

	<h1 style="color: #424874; text-align: center;"> People group</h1>
	<div class="row">
		<%= render @group.users%>

	</div>
	<p style="color: brown;text-align: center;">Autor :<br/>
		<%= render @group.user%>
<br/></p>
</div>
