<div style="background-color: #cff1ef; color: #424874;padding: auto; margin-top:30px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="margin-top:80px;">All right @
				<br>
				CopyRighr
			</div>
			<div class="col-lg-6">
				<h2>Lorem lorme lorem
				</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
					irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="col-lg-3" style="margin-top:80px;">
				<%= fa_icon "map-marker-alt" %> scholl@gmail.com
				<br>
				<%= fa_icon "envelope" %> choll@gmail.com
				<br>
				<%= fa_icon "phone" %> +74392347239
			</div>
		</div>
	</div>
</div>
